

@font-face {
  font-family: 'tangak';
  src:url('../fonts/tangak.eot?-kwf309');
  src:url('../fonts/tangak.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/tangak.woff?-kwf309') format('woff'),
    url('../fonts/tangak.ttf?-kwf309') format('truetype'),
    url('../fonts/tangak.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'futura-pt-book';
  src:url('../fonts/futura-pt-book.eot?-kwf309');
  src:url('../fonts/futura-pt-book.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/futura-pt-book.woff?-kwf309') format('woff'),
    url('../fonts/futura-pt-book.ttf?-kwf309') format('truetype'),
    url('../fonts/futura-pt-book.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt-bold';
  src:url('../fonts/futura-pt-bold.eot?-kwf309');
  src:url('../fonts/futura-pt-bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/futura-pt-bold.woff?-kwf309') format('woff'),
    url('../fonts/futura-pt-bold.ttf?-kwf309') format('truetype'),
    url('../fonts/futura-pt-bold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt-medium';
  src:url('../fonts/futura-pt-medium.eot?-kwf309');
  src:url('../fonts/futura-pt-medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/futura-pt-medium.woff?-kwf309') format('woff'),
    url('../fonts/futura-pt-medium.ttf?-kwf309') format('truetype'),
    url('../fonts/futura-pt-medium.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}
  

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
  font-family: 'futura-pt-book';
 margin: 0;

}

img {
  max-width: 100%;
}

input:focus {
  
  outline:none;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}

.container {

  padding: 0 20px;
  max-width: 1487px;
  margin: 0 auto;
}

/*header-home*/

.header-home {
  background: #112024 url(../images/header-home-bg.png) center 0 no-repeat;
  height: 98px;
}

/*work*/

.work {
  padding: 30px 0 0 0;
  height: 815px;
  background: #223135 url(../images/work-bg.png) center 100% no-repeat;
}

.work-container {
  max-width: 100%;
  padding: 0 30px 0 227px;
}

.work-wrap {
  display: flex;
}

.work-block {
  padding: 0 15px 0 0;
  width: 33%;
}

.work-language {
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
}

.work-language-text {
  padding: 0 15px 0 25px;
  font-family: 'futura-pt-medium';
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
}

.work-img {
  margin-top: -35px;
  padding: 0 0 0 40px;
}

.work-title {
  margin-top: -50px;
  font-family: 'tangak';
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.work-links {
  padding: 55px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-link {
  padding: 0 28px 0 0;
}

.work-link:last-child {
  padding: 0;
}

.work-link a {
  font-family: 'futura-pt-medium';
  text-decoration: none;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 0;
  display: block;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  width: 220px;
}

.work-link a:hover {
  transition: 0.3s;
  color: #656565;
  border: 1px solid #656565;
}

.work-block2 {
  padding: 0 0 0 60px;
  width: 67%;
}

.work-inner {
  display: flex;
}

.work-inner-block {
  width: 33.33333%;
  padding: 80px 9px 0 9px;
}

.work-inner-block2 {
  width: 33.33333%;
  padding: 0 9px 0 9px;
}

.work-inner-card {
  padding: 0 0 23px 0;
}

.work-inner-border {
  padding: 27px 28px 20px 28px;
  background: #FFFFFF url(../images/work-inner-border-bg.png) 50% 95% no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.work-inner-wrap {
  display: flex;
  align-items: center;
}

.work-inner-img {
  width: 30%;
}

.work-inner-name {
  width: 70%;
  font-family: 'futura-pt-medium';
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #223135;
}

.work-inner-info {
  padding: 5px 0 0 0;
}

.work-inner-li {
  padding: 13px 0 0 0;
  font-size: 21px;
  line-height: 27px;
  color: #223135;
}

.work-inner-link {
  padding: 20px 0 0 0;
}

.work-inner-link a {
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background: #212F33;
  border-radius: 30px;
}


/*howworks*/

.howworks {
  background: url(../images/howworks-bg.png) center -90% no-repeat;
  padding: 160px 0 150px 0;
}

.howworks-title {
  font-family: 'tangak';
  font-size: 55px;
  line-height: 55px;
  color: #223135;
}

.howworks-wrap {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
}

.howworks-block {
  width: 25%;
  padding: 0 30px 0 0;
}

.howworks-block:last-child {
  padding: 0;
}

.howworks-border {
  padding: 30px 30px;
  background: #FFFFFF url(../images/howworks-border-bg.png) 50% 100% no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.howworks-border-wrap {
  display: flex;
  align-items: center;
}

.howworks-border-img {
  width: 25%;
}

.howworks-border-title {
  width: 75%;
  font-family: 'futura-pt-bold';
  font-size: 22px;
  line-height: 28px;
  color: #212F33;
}

.howworks-border-suptitle {
  padding: 15px 0 0 0;
  font-size: 18px;
  line-height: 23px;
  color: #223135;
}


/*companygoal*/

.companygoal {
  background: #223135 url(../images/companygoal-bg.png) center 88% no-repeat;
  padding: 75px 0 110px 0;
}

.companygoal-wrap {
  display: flex;
}

.companygoal-block {
  padding: 0 20px 0 0;
  width: 55%;
}

.companygoal-inner {
  align-items: center;
  display: flex;
}

.companygoal-suptitle {
  font-family: 'tangak';
  font-size: 30px;
  line-height: 30px;
  color: #E0D1B3;
  padding: 0 30px 0 0;
}

.companygoal-restagle {
  background: #B5B5B5;
  height: 1px;
  width: 100%;
}

.companygoal-title {
  padding: 80px 0 0 0;
  font-family: 'tangak';
  font-size: 55px;
  line-height: 55px;
  color: #FFFFFF;
}

.companygoal-block2 {
  width: 45%;
}

.companygoal-slider {
  padding: 100px 0 0 0;
}

.companygoal-slider-title {
  font-family: 'tangak';
  font-size: 40px;
  line-height: 40px;
  color: #E3BC7A;
}

.companygoal-slider-suptitle {
  width: 482px;
  padding: 40px 0 0 0;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}

/*mobileapp*/

.mobileapp {
  background: url(../images/mobileapp-bg.png) center 108% no-repeat;
  padding: 80px 0 110px 0;
}

.mobileapp-wrap {
  display: flex;
}

.mobileapp-block {
  width: 60%;
}

.mobileapp-title {
  font-family: 'tangak';
  font-size: 55px;
  line-height: 55px;
  color: #223135;
}

.mobileapp-suptitle {
  width: 478px;
  padding: 35px 0 0 0;
  font-size: 19px;
  line-height: 24px;
  color: #223135;
}

.mobileapp-block2 {
  width: 40%;
}

/*footer*/

.footer {
  background: #223135 url(../images/footer-bg.png) center 0 no-repeat;
  padding: 60px 0 75px 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-logo a {
  text-decoration: none;
  font-family: 'futura-pt-bold';
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer-logo a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.footer-li {
  padding: 0 0 30px 0;
}

.footer-li:last-child {
  padding: 0;
}

.footer-li a {
  text-decoration: none;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-li a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.footer-links {
  margin-left: -190px;
  padding: 103px 0 0 0;
  display: flex;
  align-items: center;
}

.footer-link {
  padding: 0 15px 0 0;
}

.footer-link a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.footer-social {
  padding: 117px 0 0 0;
}

.ul-social {
  display: flex;
  align-items: center;
}

.li-social {
  padding: 0 40px 0 0;
}

.li-social:last-child {
  padding: 0;
}

.li-social a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/*registration-1-man*/

/*registration*/

.registration {
  background: #223135 url(../images/registration-bg.png) center 77% no-repeat;
  height: 815px;
  padding: 30px 0 0 0;
}

.registration2 {
  background: url(../images/registration2-bg.png) center 28% no-repeat;
  height: 600px;
}

.registration-wrap {
  display: flex;
  align-items: center;
}

.registration-title {
  padding: 0 50px 0 0;
  width: 50%;
  font-family: 'tangak';
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: right;
}

.registration-img {
  width: 50%;
}

.registration-border {
  position: relative;
  z-index: 1;
  background: #FFFFFF url(../images/registration-border-bg.png) 0 0 no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 110px 140px;
}

.registration-border-wrap {
  padding: 0 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-border-title {
  font-family: 'tangak';
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #243337;
}

.registration-border-stage {
  display: flex;
  align-items: center;
}




.registration-border-stage-title {
  padding: 0 30px 0 0;
  font-family: 'tangak';
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #243337;
}

.registration-border-stage-border {
  padding: 0 18px 0 0;
}

.registration-border-stage-circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #223135;
  border: 1px solid #243337;
}

.registration-border-stage-circle2 {
  border: 1px solid #000000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.registration-border-stage-border:last-child {
  padding: 0;
}

.registration-border-inner {
  padding: 60px 0 0 0;
  display: flex;
}

.registration-border-block {
  position: relative;
  padding: 0 20px 0 0;
  width: 33.33333%;
}



.registration-border-block:last-child {
  padding: 0;
}

.registration-border-name {
  font-family: 'futura-pt-bold';
  font-size: 20px;
  line-height: 26px;
  color: #243337;
}

.registration-border-input {
  padding: 40px 0 0 0;
}

.registration-input {
  font-family: 'futura-pt-medium';
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
  padding: 0 0 0 35px;
  width: 300px;
  height:64px; 
  background: #FFFFFF;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;  
}

.registration-input::-webkit-input-placeholder {
 color:#8E8E8E;
}

.registration-input::-moz-placeholder {
  color:#8E8E8E;
}

.registration-input:-ms-input-placeholder {
  color:#8E8E8E;
}

.registration-input::placeholder {
  color:#8E8E8E;
}

.registration-border-link {
  padding: 18px 0 0 175px;
}

.registration-border-link a {
  font-family: 'futura-pt-medium';
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  color: #223135;
}

.registration-border-link a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.registration-border-bottom {
  padding: 75px 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.registration-border-bottom-title {
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
}

.registration-border-bottom-link {
  padding: 0 45px 0 10px;
}

.registration-border-bottom-link a {
  font-family: 'futura-pt-medium';
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  color: #223135;
}

.registration-border-bottom-link a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.registration-border-bottom-proceed a {
  display: block;
  text-align: center;
  font-family: 'futura-pt-bold';
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 19px 0;
  background: #212F33;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 300px;
}

.registration-border-bottom-proceed a:hover {
  opacity: 0.7;
  transition: 0.3s;
}


/*registration-2-man*/


.registration3 {
  background: url(../images/registration2-bg.png) center 28% no-repeat;
  height: 950px;
}

.registration-border2 {
  position: relative;
  z-index: 1;
  background: #FFFFFF url(../images/registration-border-bg2.png) 0 0 no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 110px 140px;
}

.registration-border-man2 {
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.registration-border-man2-block {
  padding: 0 20px 0 0;
  width: 33.333333%;
}

.registration-border-man2-block:last-child {
  padding: 0;
}

.registration-border-man2-wrap {
  align-items: center;
  display: flex;
}

.registration-border-man2-img {
  width: 50%;
}

.registration-border-man2-img a {
  padding: 35px 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'futura-pt-medium';
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #223135;
}



.registration-border-man2-img-text {
  width: 100%;
  text-align: center;
}

.registration-border-man2-link {
  width: 50%;
}

.registration-border-man2-link a {
  font-family: 'futura-pt-medium';
  font-size: 20px;
  text-decoration: none;
  line-height: 26px;
  color: #8E8E8E;
}

.registration-border-man2-chekbox {
  padding: 0 0 25px 0;
}

.registration-border-man2-chekbox:last-child {
  padding: 0;
}



/*CSS ЧЕКБОКСА*/

.checkbox-main {
  display: flex;
  padding-left: 26px;
  position: relative;
  
  cursor: pointer;
  align-items: center;
  padding: 0 0 0 37px;
  
  
}

.checkbox-main .checkbox {
  display: flex;
  align-items: center;
  width: 20px;
  height: 18px;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 5px;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #8E8E8E;
  border-radius: 5px;
}

.checkbox-main input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.checkbox-main input[type="checkbox"]:checked ~ .checkbox {
  background: #243337;
}

.checkbox-title {
  font-family: 'futura-pt-medium';
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
}


.registration-border-man2-floor-title {
  font-family: 'futura-pt-bold';
  font-size: 20px;
  line-height: 26px;
  color: #2F2F2F;
}

.registration-border-man2-floor-buttons {
  display: flex;
  align-items: center;
  padding: 30px 0 0 0;
}

.registration-border-man2-floor-button {
  padding: 0 35px 0 0;
}

.registration-border-man2-floor-button:last-child {
  padding: 0;
}

.registration-border-man2-floor-button button {
  cursor: pointer;
  font-family: 'futura-pt-medium';
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
  display: block;
  text-align: center;
}

.registration-border-man2-floor-button-border {
  background: #FFFFFF;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 98px;
  padding: 22px 0 17px 0;
  margin-bottom: 15px;
}

.registration-border-man2-floor-button button:focus {
  color: #223135;
}

.registration-border-man2-floor-button button:focus .registration-border-man2-floor-button-border {
  background: #223135;
}


.registration-input2 {
  font-family: 'futura-pt-medium';
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
  padding: 0 0 0 73px;
  width: 300px;
  height:64px; 
  background: #FFFFFF url(../images/registration-input2.svg) 10% 50% no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;  
}

.registration-input2::-webkit-input-placeholder {
 color:#8E8E8E;
}

.registration-input2::-moz-placeholder {
  color:#8E8E8E;
}

.registration-input2:-ms-input-placeholder {
  color:#8E8E8E;
}

.registration-input2::placeholder {
  color:#8E8E8E;
}

.registration-input3 {
  font-family: 'futura-pt-medium';
  font-size: 20px;
  line-height: 26px;
  color: #8E8E8E;
  padding: 0 0 0 35px;
  width: 300px;
  height:64px; 
  background: #FFFFFF url(../images/registration-input3.svg) 90% 50% no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;  
}

.registration-input3::-webkit-input-placeholder {
 color:#8E8E8E;
}

.registration-input3::-moz-placeholder {
  color:#8E8E8E;
}

.registration-input3:-ms-input-placeholder {
  color:#8E8E8E;
}

.registration-input3::placeholder {
  color:#8E8E8E;
}


/*registration-3-man*/

.registration4 {
  background: url(../images/registration2-bg.png) center 28% no-repeat;
  height: 600px;
}

.registration-border3 {
  position: relative;
  z-index: 1;
  background: #FFFFFF url(../images/registration-border-bg3.png) 0 0 no-repeat;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 110px 140px;
}

.registration-border-link-proceed {
  position: absolute;
  bottom: 0;
}